DataImport_managed/Workflows/ImportData-4BDCFD1F-C8FC-EA11-A813-000D3A7950AB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"bc_sharedcommondataserviceforapps_f6acf"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"staticResults":{"Upsert_Contact0":{"status":"Succeeded","outputs":{"statusCode":"OK","headers":{}}}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"InputData":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"InputData","type":"object","value":{"buildings":[{"id":"5d1328e7-0222-ea11-a812-000d3a799c9d","name":"Northwind Traders Tower"},{"id":"5f1328e7-0222-ea11-a812-000d3a799c9d","name":"Alpine Ski House"},{"id":"611328e7-0222-ea11-a812-000d3a799c9d","name":"Fourth Coffee House"},{"id":"631328e7-0222-ea11-a812-000d3a799c9d","name":"Fabrikam Residences"},{"id":"651328e7-0222-ea11-a812-000d3a799c9d","name":"Contoso Suites"}],"contacts":[{"id":"701328e7-0222-ea11-a812-000d3a799c9d","firstname":"Thomas","lastname":"Andersen","email":"someone_m@example.com"},{"id":"721328e7-0222-ea11-a812-000d3a799c9d","firstname":"Susan","lastname":"Burk","email":"someone_l@example.com"},{"id":"741328e7-0222-ea11-a812-000d3a799c9d","firstname":"Patrick","lastname":"Sands","email":"someone_k@example.com"},{"id":"761328e7-0222-ea11-a812-000d3a799c9d","firstname":"Jim","lastname":"Glynn","email":"someone_j@alexacrm.com"},{"id":"781328e7-0222-ea11-a812-000d3a799c9d","firstname":"Rene","lastname":"Valdes","email":"someone_i@example.com"},{"id":"7a1328e7-0222-ea11-a812-000d3a799c9d","firstname":"Paul","lastname":"Cannon","email":"someone_h@example.com"},{"id":"7c1328e7-0222-ea11-a812-000d3a799c9d","firstname":"Robert","lastname":"Lyon","email":"someone_g@example.com"},{"id":"7e1328e7-0222-ea11-a812-000d3a799c9d","firstname":"Scott","lastname":"Konersmann","email":"someone_f@example.com"},{"id":"801328e7-0222-ea11-a812-000d3a799c9d","firstname":"Sidney","lastname":"Higa","email":"someone_e@example.com"},{"id":"821328e7-0222-ea11-a812-000d3a799c9d","firstname":"Maria","lastname":"Campbell","email":"someone_d@example.com"},{"id":"841328e7-0222-ea11-a812-000d3a799c9d","firstname":"Nancy","lastname":"Anderson","email":"someone_c@example.com"},{"id":"861328e7-0222-ea11-a812-000d3a799c9d","firstname":"Susanna","lastname":"Stubberod","email":"someone_b@example.com"},{"id":"881328e7-0222-ea11-a812-000d3a799c9d","firstname":"Yvonne","lastname":"McKay","email":"someone_a@example.com"}],"visits":[{"id":"3fb48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledduration":"30"},{"id":"41b48ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledduration":60},{"id":"43b48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledduration":90},{"id":"45b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledduration":90},{"id":"47b48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"17:00","actualstart":"15:24","actualend":"17:25","status":"Inactive","delta":"-24"},{"id":"49b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:30","actualstart":"15:33","actualend":"16:22","status":"Inactive","delta":"-24"},{"id":"4bb48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:00","scheduledend":"14:00","actualstart":"12:57","actualend":"14:10","status":"Inactive","delta":"-24"},{"id":"4db48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:00","scheduledend":"13:30","actualstart":"13:10","actualend":"13:46","status":"Inactive","delta":"-24"},{"id":"4fb48ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"13:00","actualstart":"12:33","actualend":"13:00","status":"Inactive","delta":"-24"},{"id":"51b48ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"13:30","actualstart":"12:00","actualend":"13:30","status":"Inactive","delta":"-24"},{"id":"53b48ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:00","actualstart":"14:44","actualend":"16:11","status":"Inactive","delta":"-23"},{"id":"55b48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"17:30","actualstart":"16:45","actualend":"17:32","status":"Inactive","delta":"-22"},{"id":"57b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:30","actualstart":"15:19","actualend":"16:27","status":"Inactive","delta":"-22"},{"id":"59b48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:00","scheduledend":"14:30","actualstart":"13:51","actualend":"14:28","status":"Inactive","delta":"-22"},{"id":"5bb48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:00","scheduledend":"13:30","actualstart":"13:14","actualend":"13:44","status":"Inactive","delta":"-22"},{"id":"5db48ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"12:30","actualstart":"12:03","actualend":"12:26","status":"Inactive","delta":"-22"},{"id":"5fb48ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"12:30","actualstart":"12:10","actualend":"12:21","status":"Inactive","delta":"-22"},{"id":"61b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"17:30","actualstart":"16:12","actualend":"17:42","status":"Inactive","delta":"-21"},{"id":"63b48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"15:00","actualstart":"13:27","actualend":"14:52","status":"Inactive","delta":"-21"},{"id":"65b48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"13:00","actualstart":"11:40","actualend":"13:02","status":"Inactive","delta":"-21"},{"id":"67b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:30","actualstart":"10:59","actualend":"12:21","status":"Inactive","delta":"-21"},{"id":"69b48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:30","scheduledend":"12:00","actualstart":"10:17","actualend":"12:13","status":"Inactive","delta":"-21"},{"id":"6bb48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"11:00","actualstart":"10:15","actualend":"10:53","status":"Inactive","delta":"-21"},{"id":"6db48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"10:00","actualstart":"09:05","actualend":"10:14","status":"Inactive","delta":"-21"},{"id":"6fb48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"18:30","actualstart":"17:58","actualend":"18:34","status":"Inactive","delta":"-20"},{"id":"71b48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"16:30","actualstart":"15:58","actualend":"16:21","status":"Inactive","delta":"-20"},{"id":"73b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:00","scheduledend":"09:30","actualstart":"07:54","actualend":"09:24","status":"Inactive","delta":"-20"},{"id":"75b48ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"16:30","actualstart":"16:14","actualend":"16:41","status":"Inactive","delta":"-19"},{"id":"77b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"16:00","actualstart":"14:30","actualend":"16:12","status":"Inactive","delta":"-19"},{"id":"79b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:00","actualstart":"09:38","actualend":"10:09","status":"Inactive","delta":"-19"},{"id":"7bb48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:00","actualstart":"17:46","actualend":"18:51","status":"Inactive","delta":"-18"},{"id":"7db48ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"14:00","actualstart":"13:23","actualend":"14:03","status":"Inactive","delta":"-18"},{"id":"7fb48ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:30","actualstart":"11:18","actualend":"12:33","status":"Inactive","delta":"-18"},{"id":"81b48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:00","actualstart":"09:39","actualend":"10:06","status":"Inactive","delta":"-18"},{"id":"83b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":"09:45","actualend":"10:31","status":"Inactive","delta":"-18"},{"id":"85b48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:00","scheduledend":"09:30","actualstart":"07:45","actualend":"09:36","status":"Inactive","delta":"-18"},{"id":"87b48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:00","scheduledend":"15:00","actualstart":"14:01","actualend":"14:45","status":"Inactive","delta":"-17"},{"id":"89b48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"13:00","actualstart":"11:31","actualend":"12:45","status":"Inactive","delta":"-17"},{"id":"8bb48ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:00","actualstart":"08:26","actualend":"08:52","status":"Inactive","delta":"-17"},{"id":"8db48ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"18:30","actualstart":"17:55","actualend":"18:34","status":"Inactive","delta":"-16"},{"id":"8fb48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"13:00","actualstart":"11:52","actualend":"13:01","status":"Inactive","delta":"-16"},{"id":"91b48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:00","actualstart":"11:38","actualend":"11:46","status":"Inactive","delta":"-16"},{"id":"93b48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:00","scheduledend":"09:00","actualstart":"07:47","actualend":"09:05","status":"Inactive","delta":"-16"},{"id":"95b48ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:00","actualstart":"17:47","actualend":"19:10","status":"Inactive","delta":"-15"},{"id":"97b48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"17:30","actualstart":"16:51","actualend":"17:17","status":"Inactive","delta":"-15"},{"id":"99b48ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:30","actualstart":"15:18","actualend":"16:15","status":"Inactive","delta":"-15"},{"id":"9bb48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"17:00","actualstart":"15:37","actualend":"16:52","status":"Inactive","delta":"-15"},{"id":"9db48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":"09:29","actualend":"10:34","status":"Inactive","delta":"-15"},{"id":"9fb48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"10:00","actualstart":"08:34","actualend":"10:02","status":"Inactive","delta":"-15"},{"id":"a1b48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"17:00","actualstart":"15:22","actualend":"16:57","status":"Inactive","delta":"-14"},{"id":"a3b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"14:00","actualstart":"13:19","actualend":"14:03","status":"Inactive","delta":"-14"},{"id":"a5b48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"13:00","actualstart":"12:11","actualend":"12:52","status":"Inactive","delta":"-14"},{"id":"a7b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:00","actualstart":"10:50","actualend":"11:46","status":"Inactive","delta":"-14"},{"id":"a9b48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"18:00","actualstart":"17:14","actualend":"18:01","status":"Inactive","delta":"-13"},{"id":"abb48ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"17:30","actualstart":"17:00","actualend":"17:38","status":"Inactive","delta":"-13"},{"id":"adb48ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:30","actualstart":"15:24","actualend":"16:23","status":"Inactive","delta":"-13"},{"id":"afb48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"16:00","actualstart":"14:18","actualend":"15:54","status":"Inactive","delta":"-13"},{"id":"b1b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"14:00","actualstart":"13:18","actualend":"13:46","status":"Inactive","delta":"-13"},{"id":"b3b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"11:30","actualstart":"11:06","actualend":"11:16","status":"Inactive","delta":"-13"},{"id":"b5b48ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:30","actualstart":"11:03","actualend":"12:19","status":"Inactive","delta":"-13"},{"id":"b7b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:00","actualstart":"08:35","actualend":"08:48","status":"Inactive","delta":"-13"},{"id":"b9b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"18:00","actualstart":"17:19","actualend":"18:01","status":"Inactive","delta":"-12"},{"id":"bbb48ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:00","actualstart":"14:55","actualend":"16:15","status":"Inactive","delta":"-12"},{"id":"bdb48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"14:00","actualstart":"12:22","actualend":"14:01","status":"Inactive","delta":"-12"},{"id":"bfb48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:30","scheduledend":"12:00","actualstart":"10:23","actualend":"11:56","status":"Inactive","delta":"-12"},{"id":"c1b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"11:30","actualstart":"09:47","actualend":"11:42","status":"Inactive","delta":"-12"},{"id":"c3b48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:00","scheduledend":"09:00","actualstart":"08:12","actualend":"08:55","status":"Inactive","delta":"-12"},{"id":"c5b48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"11:00","actualstart":"09:18","actualend":"10:48","status":"Inactive","delta":"-11"},{"id":"c7b48ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"10:00","actualstart":"08:57","actualend":"09:45","status":"Inactive","delta":"-11"},{"id":"c9b48ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:30","actualstart":"08:39","actualend":"09:30","status":"Inactive","delta":"-11"},{"id":"cbb48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:30","actualstart":"15:34","actualend":"16:16","status":"Inactive","delta":"-10"},{"id":"cdb48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:30","actualstart":"14:51","actualend":"16:30","status":"Inactive","delta":"-9"},{"id":"cfb48ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"13:30","actualstart":"12:19","actualend":"13:15","status":"Inactive","delta":"-9"},{"id":"d1b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:30","actualstart":"11:09","actualend":"12:20","status":"Inactive","delta":"-9"},{"id":"d3b48ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:30","scheduledend":"11:00","actualstart":"10:18","actualend":"10:53","status":"Inactive","delta":"-9"},{"id":"d5b48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"11:30","actualstart":"10:01","actualend":"11:30","status":"Inactive","delta":"-9"},{"id":"d7b48ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"17:00","actualstart":"15:35","actualend":"17:11","status":"Inactive","delta":"-8"},{"id":"d9b48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"15:00","actualstart":"14:16","actualend":"15:04","status":"Inactive","delta":"-8"},{"id":"dbb48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"11:30","actualstart":"11:14","actualend":"11:18","status":"Inactive","delta":"-8"},{"id":"ddb48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:30","scheduledend":"11:00","actualstart":"10:24","actualend":"11:12","status":"Inactive","delta":"-8"},{"id":"dfb48ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":"09:20","actualend":"10:25","status":"Inactive","delta":"-8"},{"id":"e1b48ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":"09:25","actualend":"10:39","status":"Inactive","delta":"-8"},{"id":"e3b48ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":"09:36","actualend":"10:24","status":"Inactive","delta":"-8"},{"id":"e5b48ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"10:30","actualstart":"09:02","actualend":"10:28","status":"Inactive","delta":"-8"},{"id":"e7b48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:00","scheduledend":"09:00","actualstart":"07:46","actualend":"08:56","status":"Inactive","delta":"-8"},{"id":"e9b48ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"16:30","actualstart":null,"actualend":null,"status":"Active","delta":"-7"},{"id":"ebb48ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:35","scheduledend":"13:00","actualstart":null,"actualend":null,"status":"Active","delta":"-7"},{"id":"edb48ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"-7"},{"id":"efb48ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"11:00","actualstart":null,"actualend":null,"status":"Active","delta":"-7"},{"id":"f1b48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"-7"},{"id":"f3b48ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"09:30","actualstart":null,"actualend":null,"status":"Active","delta":"-7"},{"id":"f5b48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:00","scheduledend":"08:30","actualstart":null,"actualend":null,"status":"Active","delta":"-7"},{"id":"f7b48ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"18:00","actualstart":null,"actualend":null,"status":"Active","delta":"-6"},{"id":"f9b48ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:30","scheduledend":"11:30","actualstart":null,"actualend":null,"status":"Active","delta":"-6"},{"id":"fbb48ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"09:30","actualstart":null,"actualend":null,"status":"Active","delta":"-6"},{"id":"fdb48ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:30","actualstart":null,"actualend":null,"status":"Active","delta":"-6"},{"id":"ffb48ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"19:00","actualstart":null,"actualend":null,"status":"Active","delta":"-5"},{"id":"01b58ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"-5"},{"id":"03b58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"18:00","actualstart":null,"actualend":null,"status":"Active","delta":"-5"},{"id":"05b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"15:00","actualstart":null,"actualend":null,"status":"Active","delta":"-5"},{"id":"07b58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:00","scheduledend":"15:00","actualstart":null,"actualend":null,"status":"Active","delta":"-5"},{"id":"09b58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"13:00","actualstart":null,"actualend":null,"status":"Active","delta":"-5"},{"id":"0bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"10:00","actualstart":null,"actualend":null,"status":"Active","delta":"-5"},{"id":"0db58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"19:00","actualstart":null,"actualend":null,"status":"Active","delta":"-4"},{"id":"0fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"14:00","actualstart":null,"actualend":null,"status":"Active","delta":"-4"},{"id":"11b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"18:30","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"13b58ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"17:00","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"15b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:30","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"17b58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"15:30","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"19b58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"15:00","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"1bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"13:00","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"1db58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:00","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"1fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"21b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"10:00","actualstart":null,"actualend":null,"status":"Active","delta":"-3"},{"id":"23b58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"-2"},{"id":"25b58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"13:00","actualstart":null,"actualend":null,"status":"Active","delta":"-2"},{"id":"27b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"13:00","actualstart":null,"actualend":null,"status":"Active","delta":"-2"},{"id":"29b58ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"13:00","actualstart":null,"actualend":null,"status":"Active","delta":"-2"},{"id":"2bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:00","actualstart":null,"actualend":null,"status":"Active","delta":"-2"},{"id":"2db58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"-2"},{"id":"2fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"19:00","actualstart":null,"actualend":null,"status":"Active","delta":"-1"},{"id":"31b58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"18:30","actualstart":null,"actualend":null,"status":"Active","delta":"-1"},{"id":"33b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"14:00","actualstart":null,"actualend":null,"status":"Active","delta":"-1"},{"id":"35b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"11:30","actualstart":null,"actualend":null,"status":"Active","delta":"-1"},{"id":"37b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:00","actualstart":null,"actualend":null,"status":"Active","delta":"-1"},{"id":"39b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"0"},{"id":"3bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"17:00","actualstart":null,"actualend":null,"status":"Active","delta":"0"},{"id":"3db58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"10:00","actualstart":null,"actualend":null,"status":"Active","delta":"0"},{"id":"3fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"1"},{"id":"41b58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:00","scheduledend":"15:00","actualstart":null,"actualend":null,"status":"Active","delta":"1"},{"id":"43b58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"10:00","actualstart":null,"actualend":null,"status":"Active","delta":"1"},{"id":"45b58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:30","actualstart":null,"actualend":null,"status":"Active","delta":"1"},{"id":"47b58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:00","scheduledend":"09:00","actualstart":null,"actualend":null,"status":"Active","delta":"1"},{"id":"49b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:00","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"4bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"4db58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"4fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"51b58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"17:00","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"53b58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"55b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"11:30","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"57b58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"2"},{"id":"59b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:30","actualstart":null,"actualend":null,"status":"Active","delta":"3"},{"id":"5bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"17:00","actualstart":null,"actualend":null,"status":"Active","delta":"3"},{"id":"5db58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"15:30","actualstart":null,"actualend":null,"status":"Active","delta":"3"},{"id":"5fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:00","actualstart":null,"actualend":null,"status":"Active","delta":"3"},{"id":"61b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"11:30","actualstart":null,"actualend":null,"status":"Active","delta":"3"},{"id":"63b58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"11:00","actualstart":null,"actualend":null,"status":"Active","delta":"3"},{"id":"65b58ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:00","actualstart":null,"actualend":null,"status":"Active","delta":"4"},{"id":"67b58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"18:30","actualstart":null,"actualend":null,"status":"Active","delta":"5"},{"id":"69b58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"16:30","actualstart":null,"actualend":null,"status":"Active","delta":"5"},{"id":"6bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"17:00","actualstart":null,"actualend":null,"status":"Active","delta":"5"},{"id":"6db58ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"5"},{"id":"6fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"14:00","actualstart":null,"actualend":null,"status":"Active","delta":"5"},{"id":"71b58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:30","actualstart":null,"actualend":null,"status":"Active","delta":"5"},{"id":"73b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:00","actualstart":null,"actualend":null,"status":"Active","delta":"5"},{"id":"75b58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:00","scheduledend":"12:30","actualstart":null,"actualend":null,"status":"Active","delta":"6"},{"id":"77b58ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"6"},{"id":"79b58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:00","actualstart":null,"actualend":null,"status":"Active","delta":"7"},{"id":"7bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"7"},{"id":"7db58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:30","actualstart":null,"actualend":null,"status":"Active","delta":"8"},{"id":"7fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"8"},{"id":"81b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"11:30","actualstart":null,"actualend":null,"status":"Active","delta":"8"},{"id":"83b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:30","actualstart":null,"actualend":null,"status":"Active","delta":"9"},{"id":"85b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"15:00","actualstart":null,"actualend":null,"status":"Active","delta":"9"},{"id":"87b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:30","actualstart":null,"actualend":null,"status":"Active","delta":"9"},{"id":"89b58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"18:00","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"8bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"18:00","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"8db58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"8fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"91b58ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"93b58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:00","scheduledend":"14:30","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"95b58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:30","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"97b58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"99b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:30","actualstart":null,"actualend":null,"status":"Active","delta":"10"},{"id":"9bb58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:30","actualstart":null,"actualend":null,"status":"Active","delta":"11"},{"id":"9db58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"11"},{"id":"9fb58ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"15:00","actualstart":null,"actualend":null,"status":"Active","delta":"11"},{"id":"a1b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:30","actualstart":null,"actualend":null,"status":"Active","delta":"11"},{"id":"a3b58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:30","scheduledend":"11:00","actualstart":null,"actualend":null,"status":"Active","delta":"11"},{"id":"a5b58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"11"},{"id":"a7b58ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"18:00","actualstart":null,"actualend":null,"status":"Active","delta":"12"},{"id":"a9b58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:00","scheduledend":"18:30","actualstart":null,"actualend":null,"status":"Active","delta":"12"},{"id":"abb58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"12"},{"id":"adb58ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:00","scheduledend":"14:30","actualstart":null,"actualend":null,"status":"Active","delta":"12"},{"id":"afb58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:00","actualstart":null,"actualend":null,"status":"Active","delta":"12"},{"id":"b1b58ce5-159f-ea11-a812-000d3a7952b9","name":"Nancy Anderson - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"841328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:00","actualstart":null,"actualend":null,"status":"Active","delta":"12"},{"id":"b3b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"18:30","actualstart":null,"actualend":null,"status":"Active","delta":"13"},{"id":"b5b58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"13"},{"id":"b7b58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:00","actualstart":null,"actualend":null,"status":"Active","delta":"13"},{"id":"b9b58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:30","actualstart":null,"actualend":null,"status":"Active","delta":"14"},{"id":"bbb58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"12:30","actualstart":null,"actualend":null,"status":"Active","delta":"14"},{"id":"bdb58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"15"},{"id":"bfb58ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"14:30","actualstart":null,"actualend":null,"status":"Active","delta":"15"},{"id":"c1b58ce5-159f-ea11-a812-000d3a7952b9","name":"Maria Campbell - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"821328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"11:00","actualstart":null,"actualend":null,"status":"Active","delta":"15"},{"id":"c3b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susanna Stubberod - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"861328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"18:00","actualstart":null,"actualend":null,"status":"Active","delta":"16"},{"id":"c5b58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"13:00","actualstart":null,"actualend":null,"status":"Active","delta":"16"},{"id":"c7b58ce5-159f-ea11-a812-000d3a7952b9","name":"Jim Glynn - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"761328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"09:00","actualstart":null,"actualend":null,"status":"Active","delta":"16"},{"id":"c9b58ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"18:00","scheduledend":"19:30","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"cbb58ce5-159f-ea11-a812-000d3a7952b9","name":"Robert Lyon - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7c1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:00","scheduledend":"13:30","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"cdb58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:30","scheduledend":"12:30","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"cfb58ce5-159f-ea11-a812-000d3a7952b9","name":"Patrick Sands - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"741328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"11:00","scheduledend":"11:30","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"d1b58ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"11:30","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"d3b58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:00","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"d5b58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"09:30","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"d7b58ce5-159f-ea11-a812-000d3a7952b9","name":"Susan Burk - Contoso Suites","building":"651328e7-0222-ea11-a812-000d3a799c9d","contact":"721328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"08:30","scheduledend":"10:00","actualstart":null,"actualend":null,"status":"Active","delta":"17"},{"id":"d9b58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"17:30","scheduledend":"18:30","actualstart":null,"actualend":null,"status":"Active","delta":"18"},{"id":"dbb58ce5-159f-ea11-a812-000d3a7952b9","name":"Thomas Andersen - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"701328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:30","scheduledend":"17:00","actualstart":null,"actualend":null,"status":"Active","delta":"18"},{"id":"ddb58ce5-159f-ea11-a812-000d3a7952b9","name":"Yvonne McKay - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"881328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"16:30","actualstart":null,"actualend":null,"status":"Active","delta":"18"},{"id":"dfb58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Alpine Ski House","building":"5f1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:00","scheduledend":"15:30","actualstart":null,"actualend":null,"status":"Active","delta":"18"},{"id":"e1b58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fourth Coffee House","building":"611328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"13:30","scheduledend":"14:30","actualstart":null,"actualend":null,"status":"Active","delta":"18"},{"id":"e3b58ce5-159f-ea11-a812-000d3a7952b9","name":"Paul Cannon - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"7a1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"10:00","scheduledend":"10:30","actualstart":null,"actualend":null,"status":"Active","delta":"18"},{"id":"e5b58ce5-159f-ea11-a812-000d3a7952b9","name":"Sidney Higa - Fabrikam Residences","building":"631328e7-0222-ea11-a812-000d3a799c9d","contact":"801328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"16:00","scheduledend":"17:30","actualstart":null,"actualend":null,"status":"Active","delta":"19"},{"id":"e7b58ce5-159f-ea11-a812-000d3a7952b9","name":"Rene Valdes - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"781328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"15:30","scheduledend":"16:00","actualstart":null,"actualend":null,"status":"Active","delta":"19"},{"id":"e9b58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"14:00","scheduledend":"14:30","actualstart":null,"actualend":null,"status":"Active","delta":"19"},{"id":"ebb58ce5-159f-ea11-a812-000d3a7952b9","name":"Scott Konersmann - Northwind Traders Tower","building":"5d1328e7-0222-ea11-a812-000d3a799c9d","contact":"7e1328e7-0222-ea11-a812-000d3a799c9d","scheduledstart":"12:30","scheduledend":"14:00","actualstart":null,"actualend":null,"status":"Active","delta":"19"}]}}]}},"EachBuilding":{"foreach":"@variables('InputData').buildings","actions":{"Upsert_Building":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bc_buildings","recordId":"@item()?['id']","item/bc_name":"@item()?['name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"InputData":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":10}}},"EachContact":{"foreach":"@variables('InputData').contacts","actions":{"Upsert_Contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('EachContact')?['id']","item/emailaddress1":"@item()?['email']","item/firstname":"@item()?['firstname']","item/lastname":"@item()?['lastname']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"staticResult":{"staticResultOptions":"Disabled","name":"Upsert_Contact0"}}}},"runAfter":{"EachBuilding":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":10}}},"EachVisit":{"foreach":"@variables('InputData').visits","actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@{item()}\n@{\ncontains(item(), 'scheduledduration')}"},"Condition":{"actions":{"Upsert_Visit":{"runAfter":{"DateOnly":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bc_visits","recordId":"@items('EachVisit')?['id']","item/bc_name":"@concat(item()?['name'],' - ', outputs('DateOnly'))","item/bc_scheduledend":"@concat(outputs('DateOnly'), 'T', item()?['scheduledend'], 'Z')","item/bc_scheduledstart":"@concat(outputs('DateOnly'), 'T', item()?['scheduledstart'], 'Z')","item/bc_actualend":"@if(equals(item()?['actualend'], null), null, concat(outputs('DateOnly'), 'T', item()?['actualend'], 'Z'))","item/bc_actualstart":"@if(equals(item()?['actualstart'], null), null, concat(outputs('DateOnly'), 'T', item()?['actualstart'], 'Z'))","item/bc_Building@odata.bind":"bc_buildings/@{items('EachVisit')?['building']}","item/bc_Visitor@odata.bind":"contacts/@{items('EachVisit')?['contact']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"If_active":{"actions":{},"runAfter":{"Upsert_Visit":["Succeeded"]},"else":{"actions":{"Deactivate_visit":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bc_visits","recordId":"@outputs('Upsert_Visit')?['body/bc_visitid']","item/statecode":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@item()?['status']","Active"]},"type":"If","description":"Deactivate if necessary "},"RawAdd":{"runAfter":{},"type":"Compose","inputs":"@addDays(\r\n   addToTime(utcNow(),\r\n      div(int(item()?['delta']), 5),\r\n      'Week'), \r\n   mod(int(item()?['delta']), 5))\r\n","description":"Add business days ignoring day of week "},"DateOnly":{"runAfter":{"RawAdd":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(if(or(\r\n   equals(dayOfWeek(outputs('RawAdd')),0),\r\n   equals(dayOfWeek(outputs('RawAdd')),6)),\r\naddDays(outputs('RawAdd'),\r\n   if(greater(int(item()?['delta']),0) ,2,-2)),\r\noutputs('RawAdd')), 'yyyy-MM-dd')","description":"Make sure day of week does not fall on weekend"}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"RoundedNow":{"runAfter":{},"type":"Compose","inputs":"@concat(substring(utcNow(),0,14),'00:00Z')"},"Update_a_record":{"runAfter":{"RoundedNow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bc_visits","recordId":"@items('EachVisit')?['id']","item/bc_name":"@concat(items('EachVisit')?['name'],' - ', formatDateTime(utcNow(), 'yyyy-MM-dd'))","item/bc_scheduledend":"@subtractFromTime(outputs('RoundedNow'),15,'Minute')","item/bc_scheduledstart":"@subtractFromTime(\n  subtractFromTime(\n    outputs('RoundedNow'),\n    int(items('EachVisit')?['scheduledduration']), \n    'Minute')\n,15,'Minute')","item/bc_actualstart":"@addMinutes(\nsubtractFromTime(\nsubtractFromTime(\n    outputs('RoundedNow'), \n    int(items('EachVisit')?['scheduledduration']),\n    'Minute')\n, 15, 'Minute'),rand(-10,10))","item/bc_Building@odata.bind":"bc_buildings/@{items('EachVisit')?['building']}","item/bc_Visitor@odata.bind":"contacts/@{items('EachVisit')?['contact']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@contains(item(),'scheduledduration')","@false"]},"type":"If"}},"runAfter":{"EachContact":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}